/* app/globals.css */
/* @tailwind base; */
@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 98%;
    --card-foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 217 19% 12%;
    --card-foreground: 210 40% 98%;
  }
}

body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] transition-colors duration-300;
}